@import "tailwindcss";
@import "../../../styles/global.css";
#intro{
    width:100%;
    min-height:610px;
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0px 20px 0px 20px;
    gap: 8vw;
   
}

#introBlock{
    width: 37vw;
}

#buttons{
    display:flex;
    gap: 10px;
}

#say_hi, #schedule{
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (max-width: 900px){
    #intro{
        flex-direction: column;
    }

    #introBlock{
    width: 80vw;
    }

    #say_hi, #schedule{
    padding: .5em .5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    }

    #name_controller{
        width:80vw;
        height:15vw;
    }

    #intro{
        height:90vh;
    }

 
}



#intro_name{
    font-size: 3.75rem;
    color: var(--bright-font-dark)
}
