@import "tailwindcss";
@import "../../../styles/global.css";
#intro{
    width:100%;
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0px 20px 10px 20px;
    gap: 8vw;
   
}

#introBlock{
    width: 37vw;
}

#buttons{
    display:flex;
    gap: 20px;
}

#say_hi, #schedule{
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

}

@media screen and (max-width: 800px){
    #intro{
        flex-direction:column ;
    }

    #buttons{
        display: none;
    }
    #introSimulation img{
        width: 200px;
        height: 200px;
    }


}

#intro_name{
    font-size: 3.75rem;
    color: var(--bright-font-dark)
}
