

.falling-leaves {
  position: relative;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  border: 2px solid #fff;
  background: url(https://i.pinimg.com/736x/84/5f/07/845f0702c5216f17e0adfad430c0e805.jpg);
  background-size: cover;
  overflow: hidden;
}

.leaf-scene {
    position: relative;
    top: -600px;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;

    div {
      position: relative;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: url(../images/leaf.png) no-repeat;
      background-size: 100%;
      transform-style: preserve-3d;
      backface-visibility: visible;
    }
  }

  

  






  