:root{
    --primary: #081630;
    --primary-dark: #010d1f;
    --primary-light: #022658;
    --secondary: #CDE1FF;
    --secondary-light: #dee9fa;
    --safety-orange: #FF7900;
    --dark-orange: #9b4902;
    --secondary-dark: #7e8b9e;

}