
@import "../../styles/global.css";
a{
    text-decoration:none;
    font-size: 1.2rem;
    color: var(--bright-font-dark);
}

a:hover{
    color: var(--font-dark);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    /*creating padding*/
    padding-top:10px;

    position: sticky; /* Activates sticky positioning */
    top: 0;           /* Locks it to the very top of the viewport */
    z-index: 1000;    /* Forces the navbar to stay on top of other content */
    width: 100%; 

    background-color: var(--background-dark);
}

.mobileNavbar{
    display:none;


}


@media screen and (max-width: 800px){
    

    #navbar_left,#navbar_right {
        display:none;
        
    }


    

    .mobileNavbar{
        display:block
    }

    


}


