
@import "../../styles/global.css";
a{
    text-decoration:none;
    font-size: 1.2rem;
    color: var(--bright-font-dark);
}

a:hover{
    color: var(--font-dark);
}

nav{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    /*creating padding*/
    padding-top:10px;
}



