@import '../../../../styles/global.css';



#simulation_container{
  border: 1px solid var(--bright-font-dark);
  width: 450px;
  height: 500px;
}


#simulation_container:hover{
  border-color: #8bacc9;
}



@media screen and (max-width: 930px){
  #simulation_container{
    width: 300px;
    height: 300px;
  }
}



