/*this css controls the style of the actual webpage*/
@import "tailwindcss";
@import './styles/global.css';
html{
  scroll-behavior:smooth;
}
body{

  background-color: var(--background-dark);
  color: var(--font-dark);

  /*main font style -> playfair display -> weight 400-500*/
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  /*centering everything*/
  
  width:100%;
}


a{
  cursor: pointer;
}
button{
  cursor: pointer;
}
ul{
  cursor: pointer;
}
strong{
  color:var(--bright-font-dark);
}

p{
  font-size: 1.3rem;
}

@media screen and (max-width: 1200px){
  p,.font_size_control{
    font-size:1rem;
  }

}


@media screen and (max-width: 800px){
  p,.font_size_control{
    font-size:.8rem;
  }

}

@media screen and (max-width: 400px){
  p,.font_size_control{
    font-size:.5rem;
  }

}


.hoverUpAnim{
  transition: transform 0.3s ease; /* Smooths the movement */
}

.hoverUpAnim:hover{
  transform: translateY(-10px);
}


@media screen and (min-width: 1920px){
    body{
      padding: 0px 0px 0px 0px;
    }

}

.header_container{
  margin-bottom: 15px;

}