/*this css controls the style of the actual webpage*/
@import "tailwindcss";
@import './styles/global.css';

body{

  background-color: var(--background-dark);
  color: var(--font-dark);

  /*main font style -> playfair display -> weight 400-500*/
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  /*centering everything*/
  
  width:100%;
}




p{
  font-size: 1.3em;
}

@media screen and (min-width: 1920px){
    body{
      padding: 0px 0px 0px 0px;
    }

}